body {
  margin-top: 1.0em;
  background-color: #E6F7FA;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000000;
}

#container {
  margin: 0 auto;
  width: 700px;
}

h1 { font-size: 3.8em; color: #19050b; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #19050b; }
h3 { color: #19050b; }
a { color: #19050b; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
pre.code { background: #000; color: #fff; padding: 10px;}

#tryit {
  font-size: 150%;
}

.field, .result, .mod {
  -webkit-border-radius: 10px;
     -mox-border-radius: 10px;
          border-radius: 10px;
  font-size: 100%;
  font-weight: bold;
  padding: 0 3px;
}

.field {
  width: 50%;
}

.mod {
  width: 2em;
}

.gen {
  font-size: 100%;
  font-weight: bold;
}

.result {
  font: 20px 'Aclonica', serif;
  font-size: 130%;
  color: #222;
  text-shadow: 0px 1px 1px #4d4d4d;

  border: 2px dashed #ccc;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  min-height: 2em;
  word-wrap: break-word;
}

.err { color: red }
